@page
@model IndexModel
@{
    ViewData["Title"] = "Assign users to access packages";
}

<h4 class="display-6">Welcome @Model.DisplayName</h4>

<div class="container">
    <div class="row">
        <div class="col-sm">
            Users:
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <th scope="row">
                                <input type="checkbox" class="btn-check" id="btn-check-2-outlined" value="@item.ID" checked autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btn-check-2-outlined">Select</label><br>
                            </th>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="col-sm">
            Access packages:
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Access</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AccessPackages)
                    {
                        <tr>
                            <th scope="row">
                                <input type="checkbox" class="btn-check" id="btn-check-2-outlined" value="@item.ID" checked autocomplete="off">
                                <label class="btn btn-outline-secondary" for="btn-check-2-outlined">Select</label><br>
                            </th>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
